rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /surveyResponses/{responseId} {
      allow create: if true;
      allow update: if true;
      allow read: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
